a {
  text-decoration: none;
  color: $textColor;
}

.ham {
  display: none;
}

header {
  background: transparent;



  nav {
    background: transparent;
    position: relative;
    visibility: visible;
    opacity: 1;
    top: 0;
    height: 100%;
    width: 100%;

    ul {
      top: 0;
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 3px;

      li {
        background-color: $headerColor;
        display: flex;

        :hover {
          background-color: $headerHoverColor;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

//Grid template för alla sections
section {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 5px 20px;
}


//första sidan "Blockchain technology"
.intro {

  //heading 
  h1 {
    grid-area: 3 / 4 / 6 / 8;
    font-size: 4rem;
    text-align: right;
  }

  //bild boxen
  .img-container {
    grid-area: 7 / 4 / 12 / 8;
  }

  //texten
  span {
    grid-area: 7 / 8 / 9 / 12;
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: left;
  }
}

//andra sidan, "How it works"
.page2 {

  //heading
  h2 {
    grid-area: 3 / 3 / 5 / 8;

    text-align: center;
  }

  //bildboxen
  .img-container {
    grid-area: 5 / 3 / 10 / 6;
  }

  //texten
  p {
    grid-area: 5 / 6 / 10 / 11;
  }


}

//tredje sidan "Use cases"
.page3 {

  //heading
  h2 {
    grid-area: 4 / 4 / 6 / 8;
  }

  //texten till vänster
  .left {
    grid-area: 6 / 4 / 11 / 8;
  }

  //företagens loggor
  ul {
    grid-area: 3 / 3 / 11 / 4;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
  }

  //första stycket till höger
  .right1 {
    grid-area: 4 / 8 / 8 / 11;
  }

  //andra stycket till höger
  .right2 {
    grid-area: 8 / 8 / 10 / 11;
  }
}

//fjärde sidan "Web3"
.page4 {

  //heading
  h2 {
    grid-area: 4 / 4 / 6 / 8;
  }

  //texten till vänster
  .left {
    grid-area: 6 / 4 / 11 / 8;
  }

  //första texten till höger
  .right1 {
    grid-area: 2 / 8 / 5 / 10;
  }

  //bildboxen
  .img-container {
    grid-area: 5 / 8 / 8 / 10;
  }

  //andra stycket till höger
  .right2 {
    grid-area: 8 / 8 / 10 / 10;
  }
}

footer {
  display:flex;
  height: auto;
  background-color: rgb(37, 42, 33); 
  color: white; 
  text-align: center; 
  padding: 15px; 
  white-space: nowrap;
  bottom: 0;
  
  
}

.copyright {
  display: flex;
  word-wrap: break-word;
  word-break:break-all;
}

.footer-list {
  display: flex;
  position: relative;
  list-style: none;
  min-width: 70%;
  align-content: space-around;
  justify-content:flex-end;
  

}

.footer-list li {
  display: inline-block;
  width: 20%;
}

.footer-list li:nth-child(2),
.footer-list li:nth-child(3) {
  border-left: 1px solid white;
}

.footer-list li:nth-child(2):hover,
.footer-list li:nth-child(3):hover,
.footer-list li:nth-child(4) {
  border-left: 1px solid white;
  padding: 0 5px;
}



.footer-list li a:hover {
  color: aqua;
  font-size: 1.2em;
}



.read-more-toggle {
  display: none;
}


.more-content {
  display: none;
}


.read-more-label {
  color: aqua;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px;
}


.read-more-toggle:checked ~ .more-content {
  display: inline;
}


.read-more-toggle:not(:checked) + .read-more-label::after {
  content: "Read more";
}

.read-more-toggle:checked + .read-more-label::after {
  content: "Read less";
  color: orange;
}

.read-more-label:hover {
  color: orange;
}

