* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
$textColor: white;
$headerColor: rgb(37, 42, 33);
$headerHoverColor: rgb(94, 107, 84);

html {
  scroll-behavior: smooth;
}

body {
  background: #22c1c3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #22c1c3, #fdbb2d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #22c1c3, #fdbb2d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: $textColor;
  font-family: "Geist Mono", monospace;
}

a {
  text-decoration: none;
  color: $textColor;
}
header {
  position: fixed;
  height: 50px;

  nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;

      gap: 3px;

      li {
        background-color: $headerColor;
        display: flex;

        :hover {
          background-color: $headerHoverColor;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

section {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 5px 20px;
}

h2 {
  font-size: 3rem;
}

.intro {
  h1 {
    grid-area: 4 / 4 / 7 / 8;
    font-size: 4rem;
    text-align: right;
  }

  .img-container {
    grid-area: 7 / 4 / 11 / 8;
  }

  span {
    grid-area: 6 / 8 / 9 / 11;
    font-size: 2.5rem;
    font-weight: lighter;
  }
}

.page2 {
  .img-container {
    grid-area: 5 / 3 / 10 / 6;
  }

  p {
    grid-area: 5 / 6 / 10 / 11;
  }

  h2 {
    grid-area: 3 / 3 / 5 / 8;

    text-align: center;
  }
}

.page3 {
  .left {
    grid-area: 6 / 4 / 11 / 8;
  }

  h2 {
    grid-area: 4 / 4 / 6 / 8;
  }

  ul {
    grid-area: 3 / 3 / 11 / 4;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
  }

  .right1 {
    grid-area: 4 / 8 / 8 / 11;
  }

  .right2 {
    grid-area: 8 / 8 / 10 / 11;
  }
}

.page4 {
  .left {
    grid-area: 6 / 4 / 11 / 8;
  }

  h2 {
    grid-area: 4 / 4 / 6 / 8;
  }

  .right1 {
    grid-area: 2 / 8 / 5 / 10;
  }

  .img-container {
    grid-area: 5 / 8 / 8 / 10;
  }

  .right2 {
    grid-area: 8 / 8 / 10 / 10;
  }
}
footer {
  display: flex;
  left: 0;
  bottom: 0;
  height: auto;
  background-color: rgb(37, 42, 33);
  color: white;
  text-align: center;
  padding: 20px;
}
