button.ham {
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0;
    top: 6px;
    left: 2px;
    position: fixed;
    pointer-events: none;
    z-index: 3;

}

button span {
    display: block;
    width: 40px;
    height: 7px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 4px;
}

.check-ham {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 4px;
    left: 8px;
    z-index: 2;
    opacity: 0;
}

.check-ham:checked {
    transform: translateX(230px);

}

.check-ham:checked+.menu {

    button {
        transform: translateX(230px);

        transition: transform 0.3s ease-in-out 0.05s;

        span {
            position: absolute;

            transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1)
        }

        span:nth-child(2) {
            transform: rotate(405deg);
            transition: opacity 0.0s;
            opacity: 0;
        }

        span:nth-child(1) {
            transform: rotate(45deg);
            top: 15px;
        }

        span:nth-child(3) {
            transform: rotate(-45deg);
            top: 15px;
        }
    }
}

nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.514);
    font-size: 1.5rem;
    width: 300px;
    height: 100vh;
    z-index: 3;
    visibility: hidden;
    transform: translateX(-50vh);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(2px);
    border-right: 1px solid rgba(255, 255, 255, 0.481);


    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

    ul {
        position: relative;
        display: flex;
        padding: 0;
        list-style: none;
        margin: 0;
        display: flex;
        height: 70%;
        flex-direction: column;
        justify-content: space-evenly;
        top: 20vh;
        font-size: 1.5em;

        li {

            a {
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 20px;
                text-decoration: none;
                color: white;

            }

        }
    }
}

.check-ham:checked+.menu nav {
    visibility: visible;

    transform: translate(0);
}