@use '_mobile-nav';

@media screen and (min-width: 300px) {
    :root {
        --bg-color-body: #430c7d;
        --bg-color-header-footer: #000000;
        --bg-color-hover: #ffa98c;
        --bg-color-important: #ffa98c;
        --text-color-text-color: #ffffff;
        --text-color-nav-text: #53edf1;
        --text-color-rubric: #53edf1;
    }
    body {
        //please add the root colors and change this to the right color
        background-color: var(--bg-color-body);
    }

    //also here
    header {
        background-color: rgba(37, 37, 37, 0);
        height: 8vh;
        z-index: 3;
        position: fixed;
        width: 100%;



    }





    .page1 {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 5vw;

        h1 {
            font-size: 3rem;
            text-align: center;
        }

    span {
        font-size: 2rem;
    }
}
.howitworks {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 3rem;
        font-weight: 300;
    }

    p {
        font-size: 2rem;
    
    }
    h3 {
        font-size: 3rem;
        font-weight: 300;
    }
    li {
        padding: 1vh;
        font-size: 2rem;
    }

    .img-container {
        display: flex;
        justify-content: center;
    }
      
    .blocklist {
        display: flex;
        flex-direction: column;
    }
}