header {
    background-color: $headerColor;

}

a {
    color: $textColor;
    text-decoration: none;

}


//Grid template för alla sections
section {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

//första sidan "Blockchain technology"
.intro {

    //heading 
    h1 {
        grid-area: 2 / 2 / 3 / 6;
        font-size: 3.5rem;
        text-align: center;
    }

    //bild boxen
    .img-container {
        grid-area: 3 / 2 / 6 / 6;
    }

    //texten
    span {
        grid-area: 6 / 2 / 7 / 6;
        font-size: 2rem;
        font-weight: lighter;
        text-align: center;

    }
}

//andra sidan, "How it works"
.page2 {

    //heading
    h2 {
        grid-area: 2 / 2 / 4 / 6;

        text-align: center;
    }

    //bild-boxen
    .img-container {
        grid-area: 5 / 2 / 7 / 6;
    }

    //texten
    p {
        grid-area: 4 / 2 / 5 / 6;
    }


}

//tredje sidan "Use cases"
.page3 {

    //heading
    h2 {
        grid-area: 1 / 2 / 2 / 6;
    }

    //texten till vänster
    .left {
        grid-area: 2 / 2 / 5 / 6;
    }

    //första stycket till höger
    .right1 {
        grid-area: 5 / 2 / 6 / 6;
    }

    //andra stycket till höger
    .right2 {
        grid-area: 6 / 2 / 7 / 6;
    }

    //företagens loggor
    ul {
        grid-area: 7 / 2 / 8 / 6;
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
    }
}

//fjärde sidan "Web3"
.page4 {

    //heading
    h2 {
        grid-area: 1 / 2 / 2 / 6;

    }

    //texten till vänster
    .left {
        grid-area: 2 / 2 / 4 / 6;
    }


    //första stycket till höger
    .right1 {
        grid-area: 6 / 2 / 8 / 6;

    }

    //bildboxen
    .img-container {
        grid-area: 4 / 2 / 5 / 6;
    }

    //andra stycket till höger
    .right2 {
        grid-area: 5 / 2 / 6 / 6;
    }
}