* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

$textColor: white;
$headerColor: rgb(37, 42, 33);
$headerHoverColor: rgb(94, 107, 84);

html {
    scroll-behavior: smooth;
}

body {
    background: #22c1c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #22c1c3, #fdbb2d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #22c1c3, #fdbb2d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: $textColor;
    font-family: "Geist Mono", monospace;
}

header {
    position: fixed;
    height: 50px;
}

section {
    height: 100vh;
    display: grid;
    gap: 5px 20px;
}

.img-container {}

img {
    object-fit: contain;
}

h2 {
    font-size: 3rem;
}


@media screen and (min-width: 300px) {
    @import "_mobile";
}

@media screen and (min-width: 1024px) {
    @import "_desktop";
}

footer {
    display: flex;
    left: 0;
    bottom: 0;
    height: auto;
    background-color: rgb(37, 42, 33);
    color: white;
    text-align: center;
    padding: 20px;
}