* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #22c1c3;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #22c1c3, #fdbb2d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: "Geist Mono", monospace;
}

header {
  position: fixed;
  height: 50px;
}

section {
  height: 100vh;
  display: grid;
  gap: 5px 20px;
}

h2 {
  font-size: 3rem;
}

@media screen and (min-width: 300px) {
  header {
    background-color: rgb(37, 42, 33);
  }
  a {
    color: white;
    text-decoration: none;
  }
  section {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
  .intro h1 {
    grid-area: 2/2/4/6;
    font-size: 3.5rem;
    text-align: center;
  }
  .intro .img-container {
    grid-area: 4/2/6/6;
  }
  .intro span {
    grid-area: 6/2/7/6;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
  }
  .page2 .img-container {
    grid-area: 5/2/7/6;
  }
  .page2 p {
    grid-area: 4/2/5/6;
  }
  .page2 h2 {
    grid-area: 2/2/4/6;
    text-align: center;
  }
  .page3 .left {
    grid-area: 2/2/5/6;
  }
  .page3 h2 {
    grid-area: 1/2/2/6;
  }
  .page3 ul {
    grid-area: 7/2/8/6;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
  }
  .page3 .right1 {
    grid-area: 5/2/6/6;
  }
  .page3 .right2 {
    grid-area: 6/2/7/6;
  }
  .page4 .left {
    grid-area: 2/2/4/6;
  }
  .page4 h2 {
    grid-area: 1/2/2/6;
  }
  .page4 .right1 {
    grid-area: 6/2/8/6;
  }
  .page4 .img-container {
    grid-area: 4/2/5/6;
  }
  .page4 .right2 {
    grid-area: 5/2/6/6;
  }
}
@media screen and (min-width: 1024px) {
  a {
    text-decoration: none;
    color: white;
  }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 3px;
  }
  header nav ul li {
    background-color: rgb(37, 42, 33);
    display: flex;
  }
  header nav ul li :hover {
    background-color: rgb(94, 107, 84);
  }
  header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 5px 20px;
  }
  h2 {
    font-size: 3rem;
  }
  .intro h1 {
    grid-area: 4/4/7/8;
    font-size: 4rem;
    text-align: right;
  }
  .intro .img-container {
    grid-area: 7/4/11/8;
  }
  .intro span {
    grid-area: 6/8/9/11;
    font-size: 2.5rem;
    font-weight: lighter;
  }
  .page2 .img-container {
    grid-area: 5/3/10/6;
  }
  .page2 p {
    grid-area: 5/6/10/11;
  }
  .page2 h2 {
    grid-area: 3/3/5/8;
    text-align: center;
  }
  .page3 .left {
    grid-area: 6/4/11/8;
  }
  .page3 h2 {
    grid-area: 4/4/6/8;
  }
  .page3 ul {
    grid-area: 3/3/11/4;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
  }
  .page3 .right1 {
    grid-area: 4/8/8/11;
  }
  .page3 .right2 {
    grid-area: 8/8/10/11;
  }
  .page4 .left {
    grid-area: 6/4/11/8;
  }
  .page4 h2 {
    grid-area: 4/4/6/8;
  }
  .page4 .right1 {
    grid-area: 2/8/5/10;
  }
  .page4 .img-container {
    grid-area: 5/8/8/10;
  }
  .page4 .right2 {
    grid-area: 8/8/10/10;
  }
}
<<<<<<< HEAD
.intro span {
  grid-area: 6/8/9/11;
  font-size: 2.5rem;
  font-weight: lighter;
}

.page2 .img-container {
  grid-area: 5/3/10/6;
}
.page2 p {
  grid-area: 5/6/10/11;
}
.page2 h2 {
  grid-area: 3/3/5/8;
  text-align: center;
}

.page3 .left {
  grid-area: 6/4/11/8;
}
.page3 h2 {
  grid-area: 4/4/6/8;
}
.page3 ul {
  grid-area: 3/3/11/4;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
.page3 .right1 {
  grid-area: 4/8/8/11;
}
.page3 .right2 {
  grid-area: 8/8/10/11;
}

.page4 .left {
  grid-area: 6/4/11/8;
}
.page4 h2 {
  grid-area: 4/4/6/8;
}
.page4 .right1 {
  grid-area: 2/8/5/10;
}
.page4 .img-container {
  grid-area: 5/8/8/10;
}
.page4 .right2 {
  grid-area: 8/8/10/10;
}/*# sourceMappingURL=style.css.map */

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.companies li img {
  width: 100%;
  height: auto;
}

.companies li:nth-child(3),
.companies li:first-child {
  padding-top: 10px;
}



=======
>>>>>>> c73eade467970836ce9d1d0f1c8a99d8ddc4eba4
footer {
  display: flex;
  left: 0;
  bottom: 0;
<<<<<<< HEAD
  
  
}

.copyright {
  display: flex;
  word-wrap: break-word;
  word-break:break-all;
}

.footer-list {
  display: flex;
  position: relative;
  list-style: none;
  min-width: 70%;
  align-content: space-around;
  justify-content:flex-end;
  

}

.footer-list li {
  display: inline-block;
  width: 20%;
}

.footer-list li:nth-child(2),
.footer-list li:nth-child(3) {
  border-left: 1px solid white;
}

.footer-list li:nth-child(2):hover,
.footer-list li:nth-child(3):hover,
.footer-list li:nth-child(4) {
  border-left: 1px solid white;
  padding: 0 5px;
}



.footer-list li a:hover {
  color: aqua;
  font-size: 1.2em;
}



.read-more-toggle {
  display: none;
}


.more-content {
  display: none;
}


.read-more-label {
  color: aqua;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px;
}


.read-more-toggle:checked ~ .more-content {
  display: inline;
}


.read-more-toggle:not(:checked) + .read-more-label::after {
  content: "Read more";
}

.read-more-toggle:checked + .read-more-label::after {
  content: "Read less";
  color: orange;
}

.read-more-label:hover {
  color: orange;
}


=======
  height: auto;
  background-color: rgb(37, 42, 33);
  color: white;
  text-align: center;
  padding: 20px;
}/*# sourceMappingURL=style.css.map */
>>>>>>> c73eade467970836ce9d1d0f1c8a99d8ddc4eba4
